<main>
    <app-modify-content (addSongEvent)="addNewSong($event)"></app-modify-content>

    <section class="searchForTitle">
        <div>
            <mat-form-field>
                <mat-label>Search For Title</mat-label>
                <input matInput type="text" [(ngModel)]="searchTitle" placeholder="Search Title Here...">
            </mat-form-field> <br>
            <button mat-raised-button color="primary" (click)="searchByTitle()">Search <mat-icon>Search</mat-icon></button>
        </div>
        <div *ngIf="titleFound !== null">
            <p [style.color]="titleFound ? 'green' : 'red'">
                {{titleFound ? 'Sport Exist' : 'Sport Not Exist'}}
            </p>
        </div>
    </section>

    <h1>Sports with No Type</h1>

    <section class="cards">
        <div *ngFor="let content of contents | contentTypeFilter:''" hoverAffect="border">
            <app-content-card [song]="content" [class]="''"></app-content-card>
        </div>
    </section>

    <h1>Indoor Games</h1>

    <section class="cards">
        <div *ngFor="let content of contents | contentTypeFilter:'IndoorGames'" hoverAffect="border">
            <app-content-card [song]="content" [class]="'IndoorGames'"></app-content-card>
        </div>
    </section>

    <h1>Outdoor Games</h1>

    <section class="cards">
        <div *ngFor="let content of contents | contentTypeFilter:'OutdoorGames'" hoverAffect="border">
            <app-content-card [song]="content" [class]="'OutdoorGames'"></app-content-card>
        </div>
    </section>
</main>