
.card-green {
    background-color: lightgreen;
    color: white;
  }
  
  .card-red {
    background-color: tomato;
    color: white;
  }
  
  .card-blue {
    background-color: dodgerblue;
    color: white;
  }
  