
<div class="content-card">
  <p>{{ content.title }}</p>
  <p>{{ content.description }}</p>
  <p>{{ content.creator }}</p>
  <!-- <img [src]="content.imgURL">
  <p>{{ content.type }}</p>
  <p>{{ content.tags }}</p> -->
  <img [src]="content.imgURL || 'https://image.shutterstock.com/image-photo/huge-multi-sports-collage-soccer-260nw-650017768.jpg'" alt="Default Image">
  <p [hoverAffect]="'text-decoration'">{{ content.type }}</p>
  <p *ngFor="let tag of content.tags" [hoverAffect]="'font-weight'">{{ tag }}</p>
</div>